@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
    font-family: 'Chakra Petch', sans-serif;
    /* background-color: #F5F6F8; */
    background-color: antiquewhite;
}

.m-top {
    margin-top: 50px;
}

@media print {
    .hid {
        display: none;
        /* ซ่อน  */
    }
}

.bgMainNavbar {
    background-color: white;
}

.btnbell {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.bradeNoti {
    border: 2px solid white;
}

.AvatarProfile1 {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.AvatarProfile2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.borderRD15 {
    border-radius: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.t-al-l {
    text-align: left;
}

.t-al-r {
    text-align: right;
}

.t-al-c {
    text-align: center;
}

.tdcrtn {
    text-decoration: none;
}

.textLimit1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.textLimit3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section {
    display: grid;
    justify-content: center;
    align-content: center;
}

@media (max-width: 768px) {
    .text-b {
        font-size: 12px;
    }

    .text-s {
        font-size: 6px;
    }
}

.imageLogo {
    width: 150px;
}

.bg-orange {
    background-color: #fa6000;
    background-image: linear-gradient(349deg, #fa6000 0%, #ff9b5b 100%);
}

.c-w {
    color: white;
}

.this_camera {
    border: 10px solid #16734720;
}

.navbar_color {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

img {
    width: 100%;
}

.card-glass {
    background-color: #142535;
    height: 100vh;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* CSS สำหรับเลขหน้า */
#currentPage,
#totalPages {
    color: white;
}

.number_page {
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: #1425351c;
}

.card_game {
    width: 100%;
    background-size: cover;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    /* จัดกึ่งกลางในแนวตั้ง */
    justify-content: center;
    /* จัดกึ่งกลางในแนวนอน */
}

.card-body {
    width: 100%;
    height: 100%;
}

.floatingactionBTN {
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 50px;
}

.offcanvas_book {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.menu_home {
    color: white;
    text-decoration: none;
}

.menu_home_col {
    text-align: center;
    background-color: #FBADAF;
    border-radius: 15px;
}

.menu_home_col:hover {
    color: #d33f44;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.image_top_1 {
    /* width: 170px; */
    /* height: 170px; */
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    /* border: 3px solid #8ED436; */
}

.image_top_sub_1 {
    /* width: 170px; */
    /* height: 170px; */
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    /* border: 3px solid #8ED436; */
}

.cardShow {
    display: flex;
    align-items: center;
    /* จัดกึ่งกลางในแนวตั้ง */
    justify-content: center;
    /* จัดกึ่งกลางในแนวนอน */
}

.col_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_top_1:hover {
    border: 4px solid #8ED436;
}

.fix_btn_1 {
    position: absolute;
    top: 70%;
    left: 65%;
}

.fix_btn_2 {
    position: absolute;
    top: 60%;
    left: 55%;
}

.fix_btn_3 {
    position: absolute;
    top: 45%;
    left: 20%;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    border: 5px solid rgba(20, 255, 243, 0.731);
}

.fix_btn_4 {
    position: absolute;
    top: 80%;
    left: 90%;
}

.fix_btn_6001 {
    position: absolute;
    top: 85%;
    left: 90%;
}

.fix_btn_6002 {
    position: absolute;
    top: 85%;
    left: 85%;
}

.fix_btn_8001 {
    position: absolute;
    top: 63%;
    left: 11%;
}

.img_8001 {
    width: 18vw;
}

.img_8001:hover {
    border-radius: 15px;
    background-image: url("../image_1_sub/55001.gif");
    background-size: cover;
}

.fix_btn_8002 {
    position: absolute;
    top: 72%;
    left: 23%;
}

.img_8002 {
    width: 18vw;
}

.img_8002:hover {
    border-radius: 15px;
    background-image: url("../image_1_sub/55002.gif");
    background-size: cover;
}

.fix_btn_8003 {
    position: absolute;
    top: 66%;
    left: 56%;
}

.img_8003 {
    width: 18vw;
}

.img_8003:hover {
    border-radius: 15px;
    background-image: url("../image_1_sub/55003.gif");
    background-size: cover;
}

.fix_btn_8004 {
    position: absolute;
    top: 55%;
    left: 65%;
}

.img_8004 {
    width: 18vw;
}

.img_8004:hover {
    border-radius: 15px;
    background-image: url("../image_1_sub/55004.gif");
    background-size: cover;
}

.card_tt_8001 {
    position: absolute;
    top: 65%;
    left: 38%;
    width: max-content;
    box-shadow: 0 0 10px 5px rgba(0, 123, 255, 0.5);
}

.fix_btn_9001 {
    position: absolute;
    top: 51%;
    left: 15%;
}

.fix_btn_9002 {
    position: absolute;
    top: 51%;
    left: 25%;
}

.fix_btn_9003 {
    position: absolute;
    top: 63%;
    left: 15%;
}

.fix_btn_9004 {
    position: absolute;
    top: 63%;
    left: 25%;
}

.fix_btn_9005 {
    position: absolute;
    top: 74%;
    left: 15%;
}

.fix_btn_9006 {
    position: absolute;
    top: 74%;
    left: 25%;
}

/* game 10 */
.fix_btn_10001 {
    position: absolute;
    top: 40%;
    left: 7%;
}

.img_10001 {
    width: 7vw;
}

.text_10001 {
    position: absolute;
    top: 49%;
    left: 7%;
    background-color: #ffffff83;
}

.fix_btn_10002 {
    position: absolute;
    top: 43%;
    left: 21%;
}

.img_10002 {
    width: 9vw;
}

.text_10002 {
    position: absolute;
    top: 35%;
    left: 18%;
    background-color: #ffffff83;
}

.fix_btn_10003 {
    position: absolute;
    top: 40%;
    left: 37%;
}

.img_10003 {
    width: 9vw;
}

.text_10003 {
    position: absolute;
    top: 40%;
    left: 36%;
    background-color: #ffffff83;
}

.fix_btn_10004 {
    position: absolute;
    top: 40%;
    left: 54%;
}

.img_10004 {
    width: 8vw;
}

.text_10004 {
    position: absolute;
    top: 35%;
    left: 55%;
    background-color: #ffffff83;
}

.fix_btn_10005 {
    position: absolute;
    top: 43%;
    left: 70%;
}

.img_10005 {
    width: 10vw;
}

.text_10005 {
    position: absolute;
    top: 35%;
    left: 73%;
    background-color: #ffffff83;
}

.fix_btn_10006 {
    position: absolute;
    top: 63%;
    left: 71%;
}

.img_10006 {
    width: 9vw;
}

.text_10006 {
    position: absolute;
    top: 55%;
    left: 72%;
    background-color: #ffffff83;
}

.fix_btn_10007 {
    position: absolute;
    top: 60%;
    left: 54%;
}

.img_10007 {
    width: 9vw;
}

.text_10007 {
    position: absolute;
    top: 55%;
    left: 52%;
    background-color: #ffffff83;
}

.fix_btn_10008 {
    position: absolute;
    top: 63%;
    left: 37%;
}

.img_10008 {
    width: 9vw;
}

.text_10008 {
    position: absolute;
    top: 55%;
    left: 37%;
    background-color: #ffffff83;
}

.fix_btn_10009 {
    position: absolute;
    top: 58%;
    left: 21%;
}

.img_10009 {
    width: 9vw;
}

.text_10009 {
    position: absolute;
    top: 55%;
    left: 20%;
    background-color: #ffffff83;
}

.fix_btn_10010 {
    position: absolute;
    top: 83%;
    left: 20%;
}

.img_10010 {
    width: 10vw;
}

.text_10010 {
    position: absolute;
    top: 75%;
    left: 20%;
    background-color: #ffffff83;
}

.fix_btn_10011 {
    position: absolute;
    top: 80%;
    left: 40%;
}

.img_10011 {
    width: 5vw;
}

.text_10011 {
    position: absolute;
    top: 75%;
    left: 40%;
    background-color: #ffffff83;
}

.fix_btn_10012 {
    position: absolute;
    top: 83%;
    left: 56%;
}

.img_10012 {
    width: 9vw;
}

.text_10012 {
    position: absolute;
    top: 75%;
    left: 55%;
    background-color: #ffffff83;
}

/* game 10 */

.image-container {
    position: relative;
    /* display: inline-block; */
    margin-bottom: 0%;
}

.image-container img {
    /* display: block; */
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.image-container .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    animation-name: slide-up;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        top: 50%;
        padding: 5px;
    }

    100% {
        top: 0%;
        padding: 5px;
    }
}

.iframe1001 {
    width: 100%;
    height: 100vw;
}

.iframe1002 {
    width: 100%;
    height: 315px;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    transition: height 0.5s;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.bottom-menu.active {
    height: 100px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}

.slideshow img {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100px;
    height: 100%;
    object-fit: cover;
    /* opacity: 0; */
    /* transition: opacity 0.5s; */
}

.slideshow img.active {
    opacity: 1;
    z-index: 1;
}

.slideshow-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slideshow-container img {
    margin-right: 10px;
    max-height: 100%;
}

.card_game_1005 {
    width: 100%;
    height: 100%;

    background-color: #EDB9D5;
    /* background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */

}

.card_game_1005_re {
    width: 100%;
    height: 100%;

    background-color: #CAB5E2;
    /* background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%); */
}

.card_game_main {
    display: flex;
    flex-wrap: wrap;
}

.col_game_5 {
    padding: 0px;
    /* height: 100px; */
    height: 33.33vh;
}

.text_Label_1005 {
    font-size: 5vw;
}

a {
    text-decoration: none;
}

.money-rain {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.money-rain:before {
    content: "";
    position: absolute;
    top: -2000px;
    left: 0;
    width: 100%;
    height: 2000px;
    background-image: url('../image_1_sub/6003.png');
    animation: money-rain-animation 10s linear infinite;
}

@keyframes money-rain-animation {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 100%);
    }
}

#cardElement {
    width: 100%;
    height: 100vh;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* .img_marker{
    width: 18vw;
} */